#hidden {
  display: none;
}

#hidden {
  display: none;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.heading {
  display: inline-block;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  border-bottom: 3px solid black;
}

@media screen and (max-width: 767px) {
  .close {
    font-size: 0.8rem;
  }
  .heading {
    font-size: 1rem;
  }
}

.cards {
  display: flex;
  height: 95%;
  padding: 15px;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .cards {
    padding: 0;
    justify-content: space-between;
  }
}

.card {
  height: 45%;
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  /* flex-basis: 30%; */
  justify-content: space-evenly;
  font-size: 17px;
  margin: 10px;
  transition: all 0.8s;
}

@media screen and (max-width: 767px) {
  .card {
    border: none;
    border-top: 3px solid black;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin: 0px;
    margin-top: 10px;
    padding: 0;
    padding-top: 5px;
    height: auto;
  }
}

.image {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: auto;
  height: 90%;
}

@media screen and (max-width: 767px) {
  .image img {
    width: auto;
    height: 100%;
  }
}

.content {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 767px) {
  .content {
    flex-basis: 70%;
  }
  .content h1 {
    font-size: 1rem;
  }
  .content p {
    font-size: 14px;
  }
}

.anchor {
  display: flex;
}

.anchor a {
  margin-right: 15px;
}

.www {
  display: flex;
  align-items: center;
}

.build {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.build ul {
  display: flex;
  list-style: none;
}
.build ul li {
  margin: 10px;
}

@media screen and (max-width: 767px) {
  .build {
    margin: 6px 0px;
  }
  .build ul li {
    margin: 0px 6px;
  }
}
