.main {
  height: 100vh;
  padding-top: var(--top);
}

@media screen and (max-width: 767px) {
  .main {
    padding-top: var(--mtop);
  }
}

.about {
  height: 90%;
  display: flex;
  padding: 0 2%;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    /* justify-content: center; */
    padding: 0 4%;
    height: 90%;
    justify-content: space-around;
  }
}

.aboutme {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
  position: relative;
}

@media screen and (max-width: 767px) {
  .aboutme {
    align-items: flex-start;
    text-align: start;
    flex-basis: 20%;
  }
}

.name {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .name {
    font-size: 17px;
  }
}

.job {
  font-size: 45px;
  font-weight: bolder;
}

@media screen and (max-width: 767px) {
  .job {
    font-size: 20px;
  }
}

.myworks {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .myworks {
    font-size: 14px;
  }
}

.portfolio {
  display: none;
  flex-direction: column;
  margin-top: 3rem;
}

@media screen and (min-width: 767px) {
  #port {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  #mport {
    display: flex;
    margin-top: 0;
  }
  #mport > :nth-child(1) {
    font-size: 17px;
  }
  #mport .port_work {
    font-size: 14px;
  }
}

.portfolio > :nth-child(1) {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.group {
  display: flex;
}

.port_work {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  transition: all 0.8s;
  cursor: pointer;
}

.port_work:hover {
  transform: scale(1.2);
}

.resumes {
  position: absolute;
  bottom: 0;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .resumes {
    top: 100%;
    font-size: 16px;
  }
}

.resume,
.article {
  display: flex;
  font-weight: bolder;
}
.article {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .about {
    position: relative;
  }
  .aboutme {
    position: static;
  }

  .article {
    margin-top: 5px;
  }
}

.picture {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.Img {
  box-shadow: 0 0 8px 8px white inset;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .picture {
    justify-content: flex-end;
    flex-basis: 60%;
    /* height: 50%; */
  }

  .Img {
    height: 100%;
  }
}

.picture img {
  height: 100%;
  z-index: -1;
  position: relative;
}

.contact {
  height: 10%;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .contact {
    height: 10%;
    padding: 0 7%;
    font-size: 14px;
  }
}

#hidden {
  display: none;
}

/* showing my porfolio................. */

.showWorks {
  height: 90%;
  display: flex;
  margin: 0 2%;
  border: 5px solid black;
  border-radius: 15px;
  padding: 1rem;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}
