.main {
  height: 100vh;
  padding-top: var(--top);
}

.about {
  height: 100%;
  display: flex;
  padding: 0 2%;
}

.aboutme {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
}

.job {
  font-size: larger;
  font-weight: bolder;
}

.picture {
  flex-basis: 60%;
  display: flex;
  justify-content: flex-end;
}

.Img {
  box-shadow: 0 0 8px 8px white inset;
}
.picture img {
  height: 100%;
  z-index: -1;
  position: relative;
}
